/* the custom remnote design */

:root{
    --background1: #292544;
    --background2:  #170530;

    --sidebar1: #392544;
    --sidebar2: #240530;

    --button1: #2c1d35;
    --button2: #1e0429;

    --hover: #99c000;

    --color: #faf0cd;
}

/* Basis-Container */
body, 
.remnote-app, 
.rn-main, 
.rn-page, 
.rn-editor,
.rn-content-wrapper,
.rn-queue-container,
.rn-editor__rem__body,
.rn-editor-container {
  background: var(--background2) !important;
  color: var(--color) !important;
}

.rn-clr-background-primary{
    background: var(--background2) !important;

}


.rn-editor__rem__body__text {
    font-family: "Aptos", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.rn-document-wrapper{
    background: var(--background2) !important;

}
.rn-widget-tab-bar,
.rn-sidebar{
    background: var(--sidebar2) !important;
}

.rn-pane__top-bar,
.rn-search-button{
    background: var(--button2) !important;
}

/* Spezielle Bereiche */
.rn-editor__rem__body__text,
.rn-modal,
.rn-search-modal,
.rn-floating-window,
.rn-kanban-board,
.rn-table-cell {
  background: var(--background2) !important;
  color: var(--color) !important;

}

/* Buttons */
button {
    background: var(--button2) !important;
    color: var(--color) !important;
}

button:hover {
    background: var(--hover) !important;
}

/* Text Selektion */
::selection {
    background: #675daa !important;
    color: var(--color) !important;
}