/* the custom remnote design */


/* Basis-Container */
body, 
.remnote-app, 
.rn-main, 
.rn-page, 
.rn-editor,
.rn-content-wrapper,
.rn-queue-container {
  background: #292544 !important;
  color: #fff0bb !important;
}


.rn-document-wrapper{
    background: #392544 !important;
}

.rn-pane__top-bar{
    background: #2c1d35 !important;
}

.rn-editor__rem__body__text{
    color: #fff0bb !important;
}

/* Spezielle Bereiche */
.rn-sidebar,
.rn-modal,
.rn-search-modal,
.rn-floating-window,
.rn-kanban-board,
.rn-table-cell {
  background: #292544 !important;
  color: #fff0bb !important;

}

/* Buttons */
button {
    background: #292544 !important;
    color: #fff0bb !important;
}

button:hover {
    background: #99c000 !important;
}

/* Text Selektion */
::selection {
    background: #675daa !important;
    color: #fff0bb !important;
}